[Unit]
Description=%I LVM2 Logical Volume managed as a system service
Documentation=man:lvchange

BindsTo=dev-%i.device
Before=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes

Environment=LV_NAME=%I
Environment=LV_TAG=x-systemd.managed

ExecStartPre=/sbin/lvscan --cache ${LV_NAME}
ExecStart=/sbin/lvchange --addtag ${LV_TAG} ${LV_NAME}
ExecStart=/sbin/lvchange --activate y ${LV_NAME}
ExecStartPost=/sbin/lvscan --cache ${LV_NAME}

ExecStop=/sbin/lvchange --activate n ${LV_NAME}
ExecStop=/sbin/lvchange --deltag ${LV_TAG} ${LV_NAME}
ExecStopPost=/sbin/lvscan --cache ${LV_NAME}

ExecReload=/sbin/lvscan --cache ${LV_NAME}
